# Node modules directory
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.test
.env.production

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Coverage directory
coverage/

# Build outputs
dist/
build/
.out/
.next/

# System files
.DS_Store
Thumbs.db

# IDE/editor specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# TypeScript
*.tsbuildinfo

# Dependency directories
jspm_packages/
bower_components/

# Optional Firebase
.firebase/

# Optional GCP Secrets
.cloud/
*.env.development.local
*.env.test.local
*.env.production.local
*.env.local

# Optional Docker
Dockerfile
docker-compose.yml
.dockerignore
docker-compose.override.yml

# Optional OS-specific files
*.swp
*~
*.sw~
*.swo

# Optional VSCode files
.vscode/*
